<div class="d-flex align-items-center justify-content-center" style="height: 500px">
	<%= link_to 'Add a new House', new_house_path, class: "btn btn-lg btn-outline-primary" %><br>	
	<%= link_to 'Add a new Complex Building', new_complex_buildings_path, class: "btn btn-lg btn-outline-primary" %><br>
	<%= link_to 'Add a new Commercial Unit', new_commercial_unit_path, class: "btn btn-lg btn-outline-primary" %>
</div>